#druid监控台配置信息，主要用作sql监控，还能用来监控url等
druid:
  allow:
    ip: 127.0.0.1
  login:
    user_name: root
    password: root
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ybcloud-ms-route-8001?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    initial-size: 1
    min-idle: 1
    max-wait-millis: 60000
    timeBetweenEvictionRunsMillis: 60000
    # 配置一个连接在池中最小生存的时间，单位是毫秒
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: true
    testOnReturn: false
    maxPoolPreparedStatementPerConnectionSize: 20
    # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    filters: stat,wall
    # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
  application:
    name: routeService
  cloud:
    nacos:
      config:
        server-addr: 192.168.99.1:8848
        file-extension: properties
        namespace: 8740fef6-e5cd-4bee-aa59-1982b454323e
        group: DEFAULT_GROUP
mybatis:
  #mapper-locations: classpath:mapping/*Mapper.xml
  #type-aliases-package: com.yaoban.kmsw.pojos
  configuration:
    call-setters-on-nulls: true
jpa:
  show-sql: true
  database-platform: org.hibernate.dialect.SQLServerDialect
  hibernate:
    ddl-auto: none
    naming:
      physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

server:
  port: 8001
  ip: 192.168.50.91

redis:
  database: 0 # Redis数据库索引（默认为0）
  host: 127.0.0.1 # 指定Redis服务器地址，多环境/注释实现(本文有参考链接)
  port: 6379 # Redis服务器连接端口
  expireTime: 1800  # 用户缓存超时时间
  jedis:
    pool:
      max-active: 8 # 连接池最大连接数（使用负值表示没有限制）
      max-wait: -1 # 连接池最大阻塞等待时间（使用负值表示没有限制）
      max-idle: 8 # 连接池中的最大空闲连接
      min-idle: 8  # 连接池中的最小空闲连接
  timeout: 12000  # 连接超时时间（毫秒）
  password: 123456

ribbon:
  ConnectTimeout: 30000
  ReadTimeout: 7000
qyserver:
  ipAdd: http://218.17.45.99:8850/api/auth/user/get